/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #b91547;
    text-align: center;
}
h1{
    color: white;
    padding: 20px 0;
}

.container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}


form{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 9px 4px rgba(0,0,0,0.42);
}

.stampa{
    display: none;
    height: 150px;
    background-color: white;
    padding: 0 20px
}

.block{
    display: block;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.space{
    padding: 20px 100px;
}

.column{
    display: flex;
    flex-direction: column;
}

.btn{
    padding: 20px;
}

.under{
    margin-top: 20px;
    border: 1px solid salmon;
    border-radius: 20px;
    padding: 5px;
}

.genera{
    border: 2px solid orange;
    padding: 10px;
    color: #b91547;
}

.reset{
    border: 2px solid gray;
    padding: 10px;
    color: #b91547;
}

.dettaglio{
    text-align: start;
    padding: 10px 0;
}

#nome_show, #offerta, #surprise, #carrozza, #cp{
    padding-top: 30px;
}

.label{
    color: #b91547;
}

.nome_passeggero{
    background-color: gray;
}

.border{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}